.btn{
    border-radius: 150px;
    background-color:#2ECC71;
    color: white;
}
.head{
    color: #EA047A;
    padding-left: 50px;
    padding-top: 70px;
}
.main{
    padding-left: 400px;
    background-color: #95A5A6;
    height: 200px;
}