<!-- <html>
  <head>

  </head>
  <body>
    <div class="div">
      <app-header></app-header>
    </div>
    <div class="content">
    </div>
  </body>
</html>
<app-child (newItemEvent)="emit($event)"></app-child>
<app-userlist></app-userlist> 
 <ul>
  <li *ngFor="let user of new">{{user}}</li>
</ul> -->

<!-- <app-userlist></app-userlist> -->
<!-- <ng-container *ngFor="let data of datas"> -->
  <!-- <app-todolist (newEdit)="get($event)"></app-todolist>

<ng-container *ngFor="let data of list">
  <app-listdetail [Edit]="data"></app-listdetail>
</ng-container> -->
<!-- <app-list></app-list> -->
<!-- <div class="back" style="column-gap: 40px;display: flex;">
 <a style="color: white;" routerLink="aboutus">Aboutus</a>    
  <a style="color: white; " routerLink="contactus">Contactus</a>
  <a style="color: white;" routerLink="component1">Component1</a>
  <a style="color: white;" routerLink="component2">Component2</a>
  <app-component2></app-component2>
</div>-->


<router-outlet>
  
</router-outlet> 


