<!-- <html>
  <head>

  </head>
  <body>
    <div class="div">
      <app-header></app-header>
    </div>
    <div class="content">
    </div>
  </body>
</html>
<app-child (newItemEvent)="emit($event)"></app-child>
<app-userlist></app-userlist> 
 <ul>
  <li *ngFor="let user of new">{{user}}</li>
</ul> -->

<!-- <app-userlist></app-userlist> -->
<!-- <ng-container *ngFor="let data of datas"> -->
  <!-- <app-todolist (newEdit)="get($event)"></app-todolist>

<ng-container *ngFor="let data of list">
  <app-listdetail [Edit]="data"></app-listdetail>
</ng-container> -->
<!-- <app-list></app-list> -->
<ul class="back">
 <a routerLink="aboutus">Aboutus</a>    
  <a routerLink="contactus">Contactus</a>
  <a routerLink="component1">Component1</a>
  <a routerLink="component2">Component2</a>
</ul>
<router-outlet>
</router-outlet>