.border{
    border: 2px solid;;
    height: 200px;
    width: 200px;
}
.img{
    height: 300px;
    width: 350px;
}
.img2{
    // background-image: 200px;
    height: 300px;
    width: 350px;
}
.img3{
    height: 300px;
    width: 320px;
}